header {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.168);
}

header .container {
  padding-block: 20px;
  display: grid;
  gap: 30px;
}

.header-text-content {
  text-align: center;
}

.search-box {
  border: 1px solid grey;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
}

.header-input-field {
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
}